In [4]:
import numpy as np

Valid Soduku

In [5]:
s = np.array([
    [5, 3, 4, 6, 7, 8, 9, 1, 2],
    [6, 7, 2, 1, 9, 5, 3, 4, 8],
    [1, 9, 8, 3, 4, 2, 5, 6, 7],
    
    [8, 5, 9, 7, 6, 1, 4, 2, 3],
    [4, 2, 6, 8, 5, 3, 7, 9, 1],
    [7, 1, 3, 9, 2, 4, 8, 5, 6],
    
    [9, 6, 1, 5, 3, 7, 2, 8, 4],
    [2, 8, 7, 4, 1, 9, 6, 3, 5],
    [3, 4, 5, 2, 8, 6, 1, 7, 9]
])

In [6]:
b = np.sum(s,axis = 1)
for i in b:
    if i!=45:
        print("soduku is not valid")
        break
else:
    print("soduku is valid for rows")

soduku is valid for rows

In [7]:
c = np.sum(s,axis = 0)
for i in c:
    if i!=45:
        print("soduku is not valid")
        break
else:
    print("soduku is valid for coloum")

soduku is valid for coloum

In [8]:
p = np.array([
    [5, 3, 4, 6, 7, 8, 9, 1, 2],
    [6, 7, 2, 1, 9, 5, 3, 4, 8],
    [1, 9, 8, 3, 4, 2, 5, 6, 7],
    
    [8, 5, 9, 7, 6, 1, 4, 2, 3],
    [4, 2, 6, 8, 5, 3, 7, 9, 1],
    [7, 1, 3, 9, 2, 4, 8, 5, 6],
    
    [9, 6, 1, 5, 3, 7, 2, 8, 4],
    [2, 8, 7, 4, 1, 9, 6, 3, 5],
    [3, 4, 5, 2, 8, 6, 1, 7, 9]
])

In [19]:
for i in range(0,9,3):
    for j in range(0,9,3):
        n = p[i:i+3,j:j+3]
        f = n.sum()
        if f!=45:
            print("soduku is not valid")
            break
else:
    print("soduku is valid")

soduku is valid

Genral Question

In [27]:
import numpy as np

# Columns: [Age, Math Marks, Science Marks]
data = np.array([
    [18, 85, 78],   # Student 1
    [19, 92, 88],   # Student 2
    [17, 76, 95],   # Student 3
    [18, 65, 70],   # Student 4
    [20, 90, 85]    # Student 5
])

In [29]:
#Get the shape of the matrix.

data.shape

(5, 3)

In [58]:
#Find the average age of students.

np.mean(data[:,0])

np.float64(18.4)

In [59]:
#Extract Math marks of all students.

np.array(data[:,1])

array([85, 92, 76, 65, 90])

In [60]:
#Find the highest Science mark.

np.max(data[:,2])

np.int64(95)

In [61]:
#Get details of the student who scored more than 90 in Math.
data[data[:,1]>90]

array([[19, 92, 88]])

In [72]:
#Increase Math marks of all students by 5.
data[:,1]+=5
data

array([[18, 90, 78],
       [19, 97, 88],
       [17, 81, 95],
       [18, 70, 70],
       [20, 95, 85]])

In [67]:
#Find how many students are younger than 19.
data[data[:,0]>19]

array([[20, 90, 85]])

In [71]:
#Calculate the average marks in each subject (column-wise mean).
print(np.mean(data[:,1]))
print(np.mean(data[:,2]))

81.6
83.2

In [82]:
#Get data of students who scored at least 80 in both subjects.
data[(data[:,1]>=80) & (data[:,2]>=80)]

array([[19, 97, 88],
       [17, 81, 95],
       [20, 95, 85]])

In [93]:
data = np.array([
    [18, 85, 78],   # Student 1
    [19, 92, 88],   # Student 2
    [17, 76, 95],   # Student 3
    [18, 65, 70],   # Student 4
    [20, 90, 85]    # Student 5
])

In [95]:
#Replace all Science marks < 75 with 0.
data[data[:,2]<75]=0
data

array([[18, 85, 78],
       [19, 92, 88],
       [17, 76, 95],
       [ 0,  0,  0],
       [20, 90, 85]])